::ng-deep  .custom-dialog-container{
    /* add your styles */
    .mat-dialog-container {
         padding: 0px;
    }
}
.header{
    background-color:  #302b49;
    padding: 16px;
    color: white;
}

.cont{
   ::ng-deep .mat-dialog-content {
        display: block;
        margin: 0 -24px;
        padding: 0 24px;
        max-height: 100vh; 
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    padding: 20px;
    .field-title{
        color:  #302b49;
        margin-bottom: 17px;
        font-family: inherit;
        font-weight: 900;
    }
    .col{
        .vendor-name{ 
            font-size: 11px;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
            background-color: white;
        }

    }
    .amount{
        margin-top : 17px ;
        text-align: right;
        margin-bottom: 12px;
    }
    .details-form{
        display: flex;
    }
    .flex-child {
        flex: 1;
        border: 2px solid white;
        margin-bottom: 7px;
        .det-title{
            border-bottom: 1px solid  #302b49;
            margin-bottom: 13px;
            border-bottom-width: 1px;
        }
        .pay-detail{
            padding-left: 6px;
            height: 42px;
            width: 163px;
        }
    }  
    input.ng-invalid.ng-touched {
        border: red 1px solid;
    }
    .more-detail{
        width: 100%;
        background-color: #f0f0f0;

        display: flex;
        height: 100%;
        justify-content: flex-end;
        .c-date-note{ 
            width: 40%;
            margin-right: 9%;
            
            margin-right: 21px;
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                background-color: white; 
                border-radius: 13px;
            }
            ::ng-deep .mat-form-field-flex {
                display: inline-flex;
                align-items: baseline;
                box-sizing: border-box;
                width: 289px;
                /* height: 47px; */ 
                background-color: white;
            }
           div .det-1{
                margin-top: 17px;
                margin-bottom: 7px;
           }
        }
    }
    .verify-detail{
        display: flex;
        margin: 29px 0px;
    }
    
}

.title{
    font-weight: 800;
    font-size: 13px;
}