<mat-toolbar>
    <button 
        mat-icon-button 
        class="example-icon" 
        aria-label="Example icon-button with menu icon">
      <mat-icon (click)="backClicked()">keyboard_backspace</mat-icon>
    </button>
    <div class="pr-sec">
        <div class="profile">
            <div class="avatar" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
                <mat-icon>account_circle</mat-icon>
                <div class="menu" *ngIf="menuVisible">
                    <div class="pr-icon">Profile</div>
                    <div class="pr-icon">Logout</div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>
  
<mat-sidenav-container class="landing-container">
    <mat-sidenav mode="side" class="sidebar" opened>
        <app-side-bar></app-side-bar>
    </mat-sidenav> 
    <mat-sidenav-content class="main-container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer-c">
    <p>footer</p>
</div>
  