 
.landing-container{
    background-color: #fff;
    min-height: calc(100% - 150px);
    
    .sidebar{
        min-width: 256px;
        overflow: hidden !important;
    }
    .main-container {
        flex-grow: 1;
        .content{
            padding: 24px;
        }
    }
    .header-c{
        background-color: rgb(169, 248, 248);
        width: 500px;
        height: 200px;
    }
}
.footer-c{
    width: 100%;
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
    padding-top: 31px;
}