.container{
     
    width: 100%;
    height: 100%;

    mat-card {
        max-width: 75%;
        margin: 16em auto;
        text-align: center;
    }
      
    mat-form-field {
        display: block;
    }

    .btn-visit{
        text-align: end;
    }
}
