<div>
    <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">

        
        <ng-container matColumnDef="id">
          <mat-header-cell  mat-sort-header *matHeaderCellDef> ID. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="pay_description">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pay_description}} </mat-cell>
        </ng-container>
      
         
        <ng-container matColumnDef="referenceNumber">
          <mat-header-cell *matHeaderCellDef> Reference number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.referenceNumber}} </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element"> ... </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
    </mat-table>
</div>
<mat-paginator  
              pageSize=9
              aria-label="Select page">
</mat-paginator>