<div>
    <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8">

        
        <ng-container matColumnDef="id">
          <mat-header-cell  mat-sort-header *matHeaderCellDef> ID. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="pay_description">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.pay_description}} </mat-cell>
        </ng-container>
      
         
        <ng-container matColumnDef="referenceNumber">
          <mat-header-cell *matHeaderCellDef> Reference number </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.referenceNumber}} </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ statusArray[element.status - 1]}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button [ngClass]="{
                inactive: !data.getUser().role.includes('MANAGER')}" 
                (click)="actionClick('APPROVED', element)" 
                mat-menu-item> 
                <span>Approve</span>
              </button>
              <button
                (click)="actionClick('ON_HOLD', element)" mat-menu-item > 
                <span>Hold</span>
              </button>
              <button [ngClass]="{
                inactive: !data.getUser().role.includes('MANAGER')}" 
                disabled="true" (click)="actionClick('REJECT', element)" mat-menu-item> 
                <span>Reject</span>
              </button>
              <button (click)="actionClick('CANCELED', element)" mat-menu-item> 
                <span>Cancel</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row >
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row >
    </mat-table>
</div>
<mat-paginator  
              pageSize=9
              aria-label="Select page">
</mat-paginator>