<div class="container">
    <div class="message">
        <p>Welcome to the Payments Portal.</p>
        <mat-divider></mat-divider>
    </div>
    <mat-card>
        <mat-card-content>
            <div>
                <div class="header-title">
                    <p>
                        Payments
                    </p>
                </div>
                <p class="dash-detail">
                    Portal to Create, Approve and Pay for the Recorded Payments and Vendors. 
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium 
                    voluptatum praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi 
                    sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia 
                    animi, id est laborum et dolorum fuga.
                </p>
            </div>
            <div class="btn-visit">
                <button mat-raised-button color="primary" (click)="visit()">Visit</button>  
            </div>
        </mat-card-content>
    </mat-card> 
</div>  