.container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .header-c{
      padding: 5em 1em;
      border-bottom: 1px solid;
      .icon-side{
          // background-color: rgb(102, 100, 100);
      }
    }
}
   