<div class="container">
    <div class="header-c">
      <div class="icon-side">
        <h2> My vd Logo</h2>
      </div>
    </div> 
    <div class="items">
      <div class="item-lists">
        <mat-list>
          <mat-list-item class="mat-list-item">
            <mat-icon class="ico"> info </mat-icon>
            Item 1
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="mat-list-item">
            <mat-icon class="ico"> info </mat-icon>
            Item 2
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="mat-list-item">
            <mat-icon class="ico"> info </mat-icon>
            Item 3
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
</div>