<div class="container">
    <div class="header-c">
      <div class="icon-side">
        <!-- <h2> My vd Logo</h2> -->
        <img src="assets/logo1.png" width="140" height="90"/>
      </div>
    </div> 
    <div class="items">
      <div class="item-lists">
        <div *ngIf="router.url === '/home' || router.url ==='/home/profile'; else do">
          <mat-list>
            <mat-list-item class="mat-list-item">
              <mat-icon class="ico"> info </mat-icon>
              Home
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
       <ng-template #do>
          <mat-list>
            <mat-list-item class="mat-list-item" (click)="tabSelected('payment')">
              <mat-icon [ngClass]="{'ico': paymentTab, 'icon-gray': paymentTab === false}"> 
                info 
              </mat-icon>
              Payments
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="mat-list-item" (click)="tabSelected('report')">
              <mat-icon [ngClass]="{'ico': reportTab, 'icon-gray': reportTab === false}"> 
                info 
              </mat-icon>
              Reports
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item 
              class="mat-list-item" 
              (click)="tabSelected('admin')">
              <mat-icon [ngClass]="{'ico': adminTab, 'icon-gray': adminTab === false}">
                 info 
              </mat-icon>
              Adminstration
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </ng-template>
      </div>
    </div>
</div>