.container{
     
    width: 100%;
    height: 100%;

    mat-card {
        max-width: 400px;
        margin: 12em auto;
        text-align: center;
    }
      
    mat-form-field {
        display: block;
    }
}
