<div class="container">
    <div class="message">
        <div class="header">
            <p>Payments Portal.</p>
            <div>
                <app-payment-action></app-payment-action>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-card>
        <mat-card-content>
            <div>
                <div class="header-title">
                    <p>
                        Payments
                    </p>
                </div>
               
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                    <mat-tab label="My Payments">
                        <app-gen-tables [tableData]="tableData"></app-gen-tables>
                    </mat-tab>
                    <mat-tab label="All Payments">
                        Content 2
                    </mat-tab> 
                  </mat-tab-group>
            </div>
            <div class="btn-visit">
             </div>
        </mat-card-content>
    </mat-card> 
</div>  